<div class="store-wrapper">
	<div class="store-inner">
		<h1>SLAVE UNIT APPAREL</h1>
		<h2>STORE</h2>
		<h3>Available 2016</h3>
	<div class="merchandise">
		<div class="store-item visible-lg-block visible-md-block">
  		<%= image_tag ("slave unit logo t.jpg") %> 
  		<p>Slave Unit Logo Tee</p>
	  	</div>
	  	<div class="store-item visible-lg-block visible-md-block">
  		<%= image_tag ("slave unit come at me t.jpg") %> 
  		<p>Come at Me Tee</p>
	  	</div>
	  	<div class="store-item visible-lg-block visible-md-block">
  		<%= image_tag ("slave unit logo brushed t.jpg") %> 
  		<p>Slave Unit Brushed Logo Tee</p>
	  	</div>
	  	<div class="store-item visible-lg-block visible-md-block">
  		<%= image_tag ("slave unit drumsynth t.jpg") %> 
  		<p>Drum and Synth Tee</p>
	  	</div>
	  	<div class="store-last-item visible-lg-block visible-md-block">
  		<%= image_tag ("logo-big-no-border.jpg") %> 
  		<p>Slave Unit Logo Bumper Sticker</p>
	  	</div>
	</div>


	</div>

</div>