<div class="store-wrapper">
	<div class="store-inner">
		<div class="store-title visible-lg-block visible-md-block">
			<h1>SLAVE UNIT APPAREL</h1>
			<h2>STORE</h2>
			<h3>Available 2016</h3>
		</div>
		<div class="store-title-sm visible-xs-block visible-sm-block">
			<h1>SLAVE UNIT</h1> 
			<h1>APPAREL</h1>
			<h2>STORE</h2>
			<h3>Available 2016</h3>
		</div>
		<div class="merchandise">
			<div class="store-item">
	  		<%= image_tag("slave unit logo t.jpg", :class => "img-responsive") %> 
	  		<p>Slave Unit Logo Tee</p>
		  	</div>
		  	<div class="store-item">
	  		<%= image_tag("slave unit come at me t.jpg", :class => "img-responsive") %> 
	  		<p>Come at Me Tee</p>
		  	</div>
		  	<div class="store-item">
	  		<%= image_tag("slave unit logo brushed t.jpg", :class => "img-responsive") %> 
	  		<p>Slave Unit Brushed Logo Tee</p>
		  	</div>
		  	<div class="store-item">
	  		<%= image_tag("slave unit drumsynth t.jpg", :class => "img-responsive") %> 
	  		<p>Drum and Synth Tee</p>
		  	</div>
		  	<div class="store-last-item">
	  		<%= image_tag("logo-big-no-border.jpg", :class => "img-responsive") %> 
	  		<p>Slave Unit Logo Bumper Sticker</p>
		  	</div>
		</div><!-- end merchandise -->
	</div><!-- end store inner -->






</div><!-- end store wrapper -->