<div class="product_reviews">
	<% @comments.each do |comment| %>

		

			<div class="row">
				<hr>
				<p><%= comment.user.first_name %> <small><em><%= "#{time_ago_in_words(comment.created_at)} ago" %></em></small></p>

			<!-- DELETE COMMENT BUTTON -->
				<p>
					<% if signed_in? && current_user.admin? %>
						<%= link_to 'DELETE COMMENT', product_comment_path(@product, comment), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %>
					<% end %>
				</p>

				<div class="rated" data-score="<%= comment.rating %>"></div>
			<!-- DELETE COMMENT BUTTON -->

				<p><%= comment.body %></p>
			</div>

		

	<% end %>

	
</div>

