<div class="store-indivproduct">
	<div class="store-indivproductinner">

		<div class="store-indivproduct-notice">
			<h1 id="notice"><%= notice %></h1>
		</div>

		<div class="store-indivproduct-name"=>
		  <h1><%= @product.name %></h1>
		</div>


	<!-- PAPERCLIP -->
		<div>
			<h2>How it looks like:</h2>
		</div>
		<div class="store-indivproduct-photo">
			<%= image_tag @product.photo.url %>
		</div>
	<!-- PAPERCLIP -->


		<div class="store-indivproduct-desc">
		  <p><%= @product.description %></p>
		</div>	

		<div>
		  <h2>Colour:</strong></h2>
		</div>

		<div class="store-indivproduct-color">
			<p><%= @product.colour %></p>
		</div>

<!-- PRICE -->
		<div>
		  <h2>The Small Price to Pay:</strong></h2>
		</div>
		<div class="store-indivproduct-price">
			<p>US$<%= @product.price %></p>
		</div>



		<div class="store-indivproduct-buttons">
			<%= link_to 'Edit', edit_product_path(@product) %> |
			<%= link_to 'Back', products_path %>
		</div>
	</div>
</div>
